.container {
}
.infoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 30px 0px;
}
.textContainer {
  flex: 1;
}
.title {
  font-size: 64px;
  margin-bottom: 58px;
}
.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}
.image {
  object-fit: cover;
}
.content {
  display: flex;
  gap: 50px;
}
.post {
  flex: 5;
  margin-top: 60px;
}
.desc p {
  font-size: 20px;
  font-weight: 300;
  margin: 20px;
  text-align: justify;
}
@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}
@media screen and (max-width: 648px) {
  .title {
    font-size: 36;
  }
  .desc p {
    font-size: 18px;
  }
}
