.subtitle {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}
.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
}
.categoryItem.culture {
  background-color: #57c4ff31;
}
.categoryItem.coding {
  background-color: #31214431;
}
.categoryItem.travel {
  background-color: #948c1731;
}
.categoryItem.food {
  background-color: #c53c3c31;
}
.categoryItem.fashion {
  background-color: #97186731;
}
