.container {
  margin-top: 50px;
}
.title {
  color: var(--softTextColor);
  margin-bottom: 30px;
}
.write {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.input {
  padding: 20px;
  width: 100%;
}
.button {
  padding: 16px 20px;
  background-color: teal;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.comments {
  margin-top: 58px;
}
.comment {
  margin-bottom: 58px;
}
